@use "./colors" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
@font-face {
  font-family: SpartanM;
  src: url("../assets/Spartan-Medium.ttf");
}
@font-face {
  font-family: SpartanB;
  src: url("../assets/Spartan-Bold.ttf");
}

@font-face {
  font-family: SpartanR;
  src: url("../assets/Spartan-Regular.ttf");
}

body {
  font-family: SpartanR;
  font-size: 15px;
  background-color: $LightGrayishCyan;
}

.attribution {
  font-family: SpartanM;
  margin: 1em 0;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

@media screen and (max-width: 600px) {
  .searchOut {
    margin: 3em 0;
  }

  .attribution {
    width: 90%;
    padding: 1em;
    margin: 1em auto;
  }
}
